body {
    background-color: #EEEEEE;
}

body.home a.home, body.media a.media, body.projects a.projects, body.blog a.blog, body.contact a.contact {
    color: #FF0000;
    font-weight: bold;
    text-decoration-line: none;
}

h1 {
    font-family: Handlee;
    font-size: 3.2em;
    text-shadow: 4px 4px 4px #aaa;
    color: #6600ff;
      }

h2 {
  font-family: Handlee;
}

h3 {
  font-family: Quando;
  color: black;
}

ol {
  font-family: Quando;
  font-weight: bold;
  font-size: 2.5em;
}

/* NAVIGATION */
nav {
  width: 102%;
  height: 60px;
  background-color: #FEFEFE;
  margin-top: -8px;
  margin-left: -8px;
}

nav ul {
  float: right;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 15px 20px;
  font-family: Quando;
  text-decoration: none;
  margin-top: -8px;
  margin-left: -20px;
  color: #6600ff;
}

nav ul li ul {
display: none;
position: absolute;
background-color: #FEFEFE;
padding: 8px auto auto;
}

nav ul li:hover ul {
display: block;
}

nav ul li ul li {
width: 270px;
border-radius: 4px;
padding-top: 9px;
}

nav ul li ul li a {
padding: 4px 4px;
}

nav ul li ul li a:hover {
  padding: 4px;
  background-color: #EEEEEE;
}
/* END OF NAVIGATION STYLES */

p {
    width: 79%;
    font-size:1.25em;
    margin: 5px;
    padding: 10px;
      }

.intro {
  font-family: Quando;
  font-size: 16px;
  color: #6600ff;
}

#form1 {
  margin-top: 20px;
  font-family: Quando;
  color: #6600ff;
  font-size: 16px;
}

div.container {
    margin: 0px auto auto 20px;
}

footer a i {
    display: inline-block;
    text-decoration: none;
    margin-left: 40px;
    padding: 10px;
}
