
body {
    background-color: #D8D8D8;
    margin-left: 30px;
}

body.home a.home, body.media a.media, body.projects a.projects, body.blog a.blog, body.contact a.contact {
    color: #FF0000;
    font-weight: bold;
    text-decoration-line: underline;
}


nav {
  font-size: 1.5em;
  font-style:normal;
  margin: 20px;
  padding: 25px;

}
nav a {
display: inline-block;
margin-right: 15px;
padding-right: 15px;
}

/*nav-link {
    display: inline-block;
    margin: 15px;
    padding: 15px;
}
*/

h1 {
    font-family: Trebuchet;
    color: purple;
      }

p {
    width: 79%;
    font-size:1.25em;
    color: blue;
    margin: 5px;
    padding: 10px;
      }

div.container {
    max-width: 960px;
    margin: 0 auto;
}

footer a i {
  display: inline-block;
  margin-left: 20px;
  padding: 5px;
}

/* use for fontawesome icons */

/* need to test fontawesome using CDN */
